@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

.application_banner .banner-text, div.application_banner {
    display: none;
}

.banner-zero, .banner-new, .banner-paid, .banner-aged, .banner-high, .banner-ghost, .banner-review, .banner-ready {
    background: #eee;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
    margin: 0 0 20px;
    margin-right: 20px;
    padding: 5px 7px;
}

.content {
    opacity: 1;
}

.content .banner-aged {
    background: rgba(246, 170, 170, 0.42);
    color: rgb(189, 105, 105);
}

.content .banner-high, .content .highlight-costly {
    background: rgba(255, 0, 0, 0.62);
    color: #fff;
}

.content .banner-new {
    background: #8bbfff;
}

.content .banner-paid {
    background: rgba(73, 206, 178, 0.84);
}

.content .banner-zero {
    background: rgba(0, 0, 0, 0.06);
    color: #aaa;
}

.content .banner-ghost {
}

.content .banner-review {
    color: #a3bad9;
    background-color: rgba(238, 238, 238, 0.49) ;
}

.content .banner-ready {
    color: rgb(133, 199, 206) ;
    background-color: rgba(226, 247, 244, 0.49) ;
}

.content .data-table tr.new-this-week {
    background: rgba(139, 191, 255, 0.12) ;
    border: 1px solid rgba(139, 191, 255, 0.77) ;
    color: rgba(89, 145, 214, 0.99) ;
}

.content .data-table tr.outdated {
    background-color: rgba(246, 170, 170, 0.26) ;
}

.data-table {
    border: none;
}

.data-table th {
    background: #fff;
    border: none;
    color: rgba(51, 102, 204, 0.73);
}

.data-table th, .section-box th {
    background-color: inherit;
    border: none;
    border-bottom: none;
    color: #2d6cc0;
    padding-left: 0;
    padding-right: 0;
}

.data-table tr {
    font-size: .8em;
}

.data-table tr:nth-child(odd) {
    background: inherit;
}

.highlight-costly {
    font-size: 1.2em;
}

.highlight-paid {
    background: rgba(73, 206, 178, 0.84);
    color: white;
    font-weight: bold;
}

.oktopay {
    background: rgba(51, 102, 204, 0.53);
    border-radius: 2px;
    color: white;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 3px 5px;
    text-decoration: none;
}

.section-box {
    background: rgba(241, 246, 253, 0.42);
    border: 1px solid rgba(115, 154, 232, 0.23);
    border-radius: 2px;
    padding: 5px;
}

.section-box table {
    border: none;
}

body[bgcolor="#DDDDDD"] {
    background: #fff;
    transition: background .7s ease;
}

.ghost {
    display: none;
}

body .content .data-table tr.reviewing {
    color: #a3bad9;
    background-color: rgba(238, 238, 238, 0.49) ;
}

.reviewing td {
    padding: 0 ;
}

.reviewing .oktopay {
    display: none;
}

body .content .data-table tr.ready {
    color: rgb(133, 199, 206) ;
    background-color: rgba(226, 247, 244, 0.49) ;
}

/*receive header*/

div.content .data-table th a, div.content .data-table th a:visited, .data-table th a:hover {
    border: none;
    color: rgba(51, 102, 204, 0.73);
    text-decoration: none;
}

div.content a, a:visited, input[type=submit], .btn-po-number {
    background: #fff;
    border: 1px solid #739ae8;
    border-radius: 2px;
    color: #739ae8;
    cursor: pointer;
    display: inline-block;
    margin: 0 0 5px;
    padding: 4px;
    text-decoration: none;
    transition: color .3s ease, background .3s ease;
}

div.content a:hover, input[type=submit]:hover, .btn-po-number:hover {
    background: rgba(115, 154, 232, 0.65);
    color: #fff;
}

form[action^="po_receive"] {
    border: 1px solid #eee;
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
    width: 90%;
}

form[action^="po_receive"] table {
    margin: 20px;
    padding: 10px;
    width: 90%;
}

form[action^="po_receive"] td {
    background: #fff;
    background-image: none;
}

iframe {
    background: rgba(243, 241, 253, 0.42);
    border-radius: 3px;
    margin: 20px auto;
    max-width: 975px;
    min-height: 220px;
    padding: 10px;
    width: 90%;
}

iframe[src*='ReceivePartial'] {
    background: none;
    border: 1px solid #f2f2f2;
    min-height: 2000px;
}

input[name="file"] {
    background: rgba(73, 206, 178, 0.05);
    border: 1px solid;
    border-radius: 2px;
    color: rgba(73, 206, 178, 0.84);
    height: 100px;
    margin: 10px;
    padding: 3px;
    width: 90%;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type=submit] {
    font-size: 1em;
}

td {
    background-image: none;
}

tr[bgcolor="#99CCCC"] {
    background: #fff;
    font-size: .8em;
}

tr[bgcolor="#99CCCC"] th {
    font-weight: normal;
    padding: 2px 3px;
}
